package configs

// Application Database
const DB_NAME = "friend_managerment"
// Testing only Database name
const DB_NAME_TEST = "friend_managerment_test"

const DB_USER = "root"
const DB_PASSWORD = "123456"
const DB_HOST = "localhost"
const DB_DRIVER = "mysql"

// Application port
const APP_PORT = "8000"